* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; }

.wrapper {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  height: 100%; }

header {
  background-color: #000;
  height: 69px; }
  header img {
    width: 75px;
    height: auto; }
  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header nav {
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-between; }
    header nav a {
      color: #fff;
      text-decoration: none; }
      header nav a:hover {
        color: #ff9b51; }

.showcase {
  background: url(../img/showcase-bg.png) no-repeat;
  background-size: 100%;
  padding-top: 110px;
  height: 643px; }
  .showcase .wrapper {
    display: flex;
    justify-content: space-between; }
  .showcase .main-descr {
    width: 550px; }
    .showcase .main-descr h1 {
      position: relative;
      color: #fff;
      font-size: 36px;
      font-weight: lighter;
      margin: 32px 0; }
      .showcase .main-descr h1:after {
        content: '';
        width: 65px;
        height: 50px;
        border-bottom: 2px solid #fff;
        position: absolute;
        top: 50px;
        left: 0; }
    .showcase .main-descr img {
      width: 175px;
      height: auto; }
    .showcase .main-descr p {
      font-size: 16px;
      color: #fff;
      margin: 40px 0; }
    .showcase .main-descr button {
      width: 136px;
      height: 42px;
      background-color: transparent;
      color: #fff;
      text-transform: capitalize;
      font-weight: bold;
      border: 2px solid #fff; }
      .showcase .main-descr button:hover {
        background-color: #ff9b51;
        border: none;
        cursor: pointer; }
  .showcase .free-trial-form {
    background-color: #fff;
    width: 361px;
    height: 362px; }
    .showcase .free-trial-form form {
      display: flex;
      flex-flow: column nowrap;
      padding: 0 38px;
      justify-content: space-around;
      height: 254px; }
      .showcase .free-trial-form form input {
        padding: 0 14px;
        height: 35px;
        border-bottom: 2px solid #d6d6d6;
        border-top: none;
        border-right: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6; }
        .showcase .free-trial-form form input::placeholder {
          font-size: 14px;
          color: #bdbdbd; }
    .showcase .free-trial-form p {
      background: #f5f5f5;
      padding: 0 38px;
      height: 54px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      text-align: center; }
    .showcase .free-trial-form a {
      display: flex;
      text-decoration: none;
      justify-content: space-around;
      align-items: center;
      font-weight: bold;
      height: 54px;
      width: 100%;
      background-color: #ff9b51;
      color: #fff;
      text-transform: capitalize; }

.brand {
  height: 110px;
  border-bottom: 2px solid lightgray;
  padding: 25px 0; }
  .brand .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .brand .descr {
    width: 360px; }
  .brand img {
    height: 80%;
    width: auto; }
  .brand h2 {
    font-size: 20px;
    font-weight: lighter; }
  .brand p {
    color: #86878b;
    font-size: 14px; }

.feature-1 {
  height: 595px;
  background-color: #f5f5f5; }
  .feature-1 .wrapper {
    display: flex;
    align-items: center; }
  .feature-1 .tabs-toggle {
    display: flex;
    flex-flow: column nowrap; }
    .feature-1 .tabs-toggle .buttons {
      transition: 0.3s;
      height: 115px;
      width: 115px;
      background-color: #333333;
      font-weight: bold;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 1px;
      cursor: pointer; }
    .feature-1 .tabs-toggle .buttons.selected {
      background-color: #ff8b38; }
